<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-8r %d{ISO8601} [%-5p] [%15.15t] %36.36c{1}:%-5L - %m%n</pattern>
    </encoder>
  </appender>

  <logger name="default" level="info" />

  <root level="info">
    <appender-ref ref="stdout" />
  </root>
</configuration>